<div class="root-container">
  <!-- Main content -->
  <main>
    <!-- Tab switcher -->
    <header>
      <span *ngFor="let tab of tabs; let i = index; trackBy: trackTab" [class.active]="i == selectedTabIndex"
        (click)="selectedTabIndex = i">
        {{tab.title}}</span>
    </header>

    <!-- Page content -->
    <div class="page-content" [ngSwitch]="tabs[selectedTabIndex].title">
      <app-portfolio-view *ngSwitchCase="'Portfolio'" />
      <app-experience-view *ngSwitchCase="'Experience'" />
      <app-about-view *ngSwitchCase="'About'" />
      <app-contact-view *ngSwitchCase="'Contact'" />
    </div>
  </main>

  <!-- Footer with personal details -->
  <footer>
    Developed by Gui Mendel
  </footer>
</div>