@import "../../../styles/variables.scss";

.root-container {
  width: 100%;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-top: 2rem;

  color: $dark;

  background-color: $main;

  transition: background-color 200ms;

  &.no-vibrant-colors {
    @include no-vibrant-colors;
  }

  main {
    flex-direction: column;
    // gap: 1rem;
    align-items: center;
    width: 100%;

    $tab-option-radius: 15px;
    $tab-border-width: $line-width;

    --side-margin: 15%;

    .top-section {
      margin-bottom: 2rem;
      width: 100%;

      padding-inline: 3rem;

      .vibrant-color-toggle {
        align-items: center;
        gap: 0.5rem;
      }
    }

    header {
      align-items: stretch;
      gap: 2rem;
      padding: 0 3rem;
      font-weight: 500;
      margin-inline: var(--side-margin);

      span {
        padding: 0.1rem 1rem;

        align-items: center;
        cursor: pointer;

        border: $tab-border-width solid rgba(255, 255, 255, 0);
        border-radius: $tab-option-radius $tab-option-radius 0 0;
        margin-bottom: -$tab-border-width;

        border-bottom: calc($tab-border-width + 1px) solid
          rgba(255, 255, 255, 0);

        color: $dark;

        transition: all 200ms;

        &:hover {
          border-color: rgba(var(--secondary-rgb), 0.3);
          border-bottom: calc($tab-border-width + 1px) solid
            rgba(255, 255, 255, 0);
          // backdrop-filter: brightness(0.9);
        }

        &.active {
          // border: $tab-border-width solid $secondary;
          // border-bottom: calc($tab-border-width + 1px) solid $main;
          // color: $secondary;
          background-color: $secondary;
          color: $light;
        }
      }

      z-index: 10;
    }

    .page-content {
      flex-direction: column;
      align-items: center;

      width: 100%;

      &::before {
        content: "";
        width: calc(100% - var(--side-margin) * 2);
        height: 2rem;

        border-top: $tab-border-width solid $secondary;
        border-radius: 7px;
      }
    }
  }

  footer {
    min-height: 5rem;
    flex-direction: column;
    background-color: $dark;
    color: $main;
    width: 100%;

    padding: 1rem;

    margin-top: 7rem;

    align-items: center;
    justify-content: center;

    .credits {
      display: inline;

      a {
        color: $highlight;
      }
    }
  }
}
