$border-radius: 20px;

$box-shadow-intensity: 1px rgba(128, 128, 128, 0.157);

$line-width: 5px;

// === Z-INDEX LAYERS

@function layer-background($offset: 0) {
  @return calc(-1000 + $offset);
}

@function layer-text($offset: 0) {
  @return calc(0 + $offset);
}

@function layer-hover($offset: 0) {
  @return calc(1000 + $offset);
}

@function layer-attention($offset: 0) {
  @return calc(2000 + $offset);
}

// === COLORS

// Main palette

// $main: #fffe00;
// $secondary: #b3b200;
// $highlight: #7900fa;
// $text: #340d5e;
// $light: #ffffb3;

// $main: #FFFFFF;
// $secondary: #F6F6F0;
// $highlight: #1A1A1A;
// $text: #A6A69D;

:root {
  --main-rgb: 255, 255, 255;
  --secondary-rgb: 246, 246, 240;
  --highlight-rgb: 26, 26, 26;
  --text-rgb: 166, 166, 157;
}

$main: rgb(var(--main-rgb));
$secondary: rgb(var(--secondary-rgb));
$highlight: rgb(var(--highlight-rgb));
$text: rgb(var(--text-rgb));

// $main: #F7FFFF;
// $secondary: #D2FBFC;
// $highlight: #1BD7DE;
// $text: #0E888A;
// $light: #2FE7EB;

// $main: #8CFF9A;
// $secondary: #60E06F;
// $highlight: #B85170;
// $text: #22A331;
// $light: #D6FFDB;

// $main: #090F21;
// $secondary: #131E3D;
// $highlight: #00FF08;
// $text: #BFFFC1;
// $light: #00FF08;

// $main: #1A1A1A;
// $secondary: #171717;
// $highlight: #FFFFFF;
// $text: #969696;
// $light: #E6E6E6;



// No vibrant colors Palette

// @mixin no-vibrant-colors {
//   $main: #ffffff;
//   $secondary: #e1e1e1;
//   $highlight: #005a57;
//   $text: #4bcac5;
//   $light: #ffffff;
  
//   --main-rgb: 255, 255, 255;
//   --secondary-rgb: 0, 90, 87;
//   --highlight-rgb: 75, 202, 197;
//   --text-rgb: 0, 90, 87;
//   // --text-rgb: 102, 65, 71;
//   --light-rgb: 255, 255, 255;
// }

// General

$white: white;
$gray-washed: rgb(250, 250, 250);
$gray-lighter: rgb(233, 233, 233);
$gray-light: rgb(202, 202, 202);
$gray: rgb(187, 187, 187);
$gray-dark: rgb(143, 143, 143);
$gray-darker: rgb(85, 85, 85);

$error-washed: rgb(255, 218, 218);
$error-lighter: rgb(255, 172, 172);
$error-light: rgb(253, 107, 107);
$error: rgb(255, 24, 24);
$error-dark: rgb(210, 22, 22);

$warning-washed: rgb(255, 254, 246);
$warning-lighter: rgb(253, 247, 196);
$warning-light: rgb(255, 240, 131);
$warning: rgb(250, 222, 9);
$warning-dark: rgb(212, 188, 11);

$green-washed: rgb(235, 252, 235);
$green-lighter: rgb(193, 248, 193);
$green-light: rgb(104, 231, 104);
$green: rgb(34, 201, 34);
$green-dark: rgb(46, 147, 46);
$green-darker: rgb(45, 121, 45);

$blue-lighter: rgb(167, 204, 254);
$blue-light: rgb(104, 169, 253);
$blue: rgb(20, 122, 255);
$blue-dark: rgb(5, 87, 193);
