@import "../../../styles/variables.scss";

:host {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.content {
  padding-inline: calc(var(--side-margin) + 1rem);
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: inherit;
  align-items: center;

  width: 100%;

  background-color: $secondary;
  color: $light;

  > * {
    flex: 1;
  }

  p {
    padding: 1rem;
  }
}

.diagonal-slice {
  position: relative;

  width: 100%;

  flex-direction: column;

  $slice-height: 2.5rem;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: $slice-height;
    left: 0;
  }

  &::before {
    background-image: linear-gradient(
      to bottom right,
      $main 0%,
      $main 50%,
      transparent 50.3%
    );

    top: 0;
  }

  &::after {
    background-image: linear-gradient(
      to top left,
      $main 0%,
      $main 50%,
      transparent 50.3%
    );

    bottom: 0;
  }

  p {
    margin-top: 2rem;
  }
}

.tech-stack {
  flex-direction: column;
  align-items: center;

  .techs {
    align-items: center;
    gap: 2rem;

    .tech {
      flex-direction: column;
      align-items: center;

      svg,
      fa-icon {
        font-size: 2rem;
      }
    }
  }
}

.features {
  flex-direction: column;
  gap: 1rem;

  .feature {
    display: grid;
    gap: 2rem;
    align-items: center;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  > :nth-child(even) {
    grid-template-columns: 0.4fr 0.6fr;

    background-color: $secondary;
    border-radius: 10px;
    color: $light;
    box-sizing: content-box;
    border: 1rem solid $secondary;

    p {
      text-align: right;
    }
  }

  > :nth-child(odd) {
    grid-template-columns: 0.6fr 0.4fr;

    p {
      text-align: left;
      order: 1;
    }
  }
}

.feature-gallery {
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;

  .frame {
    padding-inline: calc(var(--side-margin) + 1rem);
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $secondary;

    img {
      max-height: 65vh;
    }
  }

  p {
    padding-inline: calc(var(--side-margin) + 1rem);
    text-align: center;
    font-size: 1.6rem;
  }
}

h1 {
  font-size: 3rem;
  font-family: "Lilita One", "Dongle", Helvetica, sans-serif;
  color: $highlight;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

span.links {
  color: $highlight;

  width: 100%;

  font-size: 2rem;
  gap: 1rem;

  align-items: center;
  justify-content: center;

  fa-icon {
    cursor: pointer;

    transition: filter 100ms;

    &:hover {
      filter: brightness(0.6);
    }
  }

  &:before,
  &:after {
    content: "";
    min-width: 2rem;
    max-width: 4rem;
    border-top: $line-width solid $secondary;
    flex: 1;
  }
}

img {
  width: 100%;
}

p {
  line-height: 1.3rem;
  text-align: justify;
}

svg {
  fill: $dark;
  width: 0.85em;
  height: 0.85em;
}
