<div class="content">
  <!-- Title -->
  <h1>Cabber</h1>

  <!-- Links -->
  <span class="links">
    <fa-icon [icon]="['fab', 'github']" data-help="Go to GitHub page"></fa-icon>
    <fa-icon [icon]="['fas', 'location-arrow']" data-help="Go to deployment"></fa-icon>
  </span>

  <!-- Subtitle -->
  <h2>A real-time simulation of a customizable taxi app</h2>
</div>


<!-- Summary -->
<!-- <div class="diagonal-slice">
  <div class="side-by-side">
    <p>Create maps, cars and clients, assign routes for the clients' destinations, customize your experience,
      and watch it all unfold in real-time.</p>

    <img src="../../../assets/images/app-example.svg" alt="Project preview">
  </div>
</div> -->

<!-- Feature Gallery -->
<div class="feature-gallery" [class]="galleryClass">
  <div class="diagonal-slice">
    <div class="frame">
      <!-- Displayed media -->
      <img src="../../../assets/images/app-example.svg" alt="Project preview">

      <!-- Transitioning media -->
      <img src="../../../assets/images/app-example.svg" alt="Project preview">
    </div>
  </div>

  <div class="gallery-control">
    <fa-icon [icon]="['fas', 'circle-left']" (click)="setFeature(highlightedFeature() - 1)" class="arrow"></fa-icon>
    <fa-icon *ngFor="let feature of featureGallery; let i = index" [icon]="iconFor(i)"
      [class.active]="highlightedFeature() == i" (click)="setFeature(i)" class="feature"></fa-icon>
    <fa-icon [icon]="['fas', 'circle-right']" (click)="setFeature(highlightedFeature() + 1)" class="arrow"></fa-icon>
  </div>

  <div class="label" (animationend)="finishTransition()">
    <!-- Displayed label -->
    <p>{{featureGallery[displayedFeature].label}}</p>

    <!-- Transitioning label -->
    <p>{{nextFeature == null ? "" : featureGallery[nextFeature].label}}</p>
  </div>

</div>

<div class="content">
  <div class="tech-stack">
    <h2>Tech Stack</h2>
    <span class="techs">
      <span class="tech">
        <fa-icon [icon]="['fab', 'react']"></fa-icon>
        React
      </span>

      <span class="tech">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="450.000000pt" height="512.000000pt"
          viewBox="0 0 450.000000 512.000000" preserveAspectRatio="xMidYMid meet">

          <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
            <path d="M6 5078 c3 -24 97 -1055 209 -2292 112 -1236 206 -2251 209 -2254 3
       -3 415 -123 916 -267 l910 -263 910 262 c500 145 913 265 916 269 3 3 98 1018
       210 2254 111 1236 205 2267 208 2291 l6 42 -2250 0 -2250 0 6 -42z m3654 -910
       c0 -7 -23 -260 -50 -563 -28 -302 -50 -556 -50 -562 0 -10 -64 -13 -288 -13
       l-289 0 4 53 c3 28 12 157 21 285 l18 232 -783 0 -783 0 0 -22 c2 -84 159
       -1831 166 -1838 5 -4 147 -47 316 -96 l307 -88 601 178 c331 98 604 176 607
       173 7 -7 -47 -590 -55 -598 -4 -3 -264 -79 -578 -168 l-571 -163 -577 160
       c-318 88 -580 162 -582 165 -2 2 -60 629 -129 1393 -68 764 -127 1410 -130
       1437 l-6 47 1416 0 c1125 0 1415 -3 1415 -12z" />
          </g>
        </svg>
        Canvas
      </span>

      <span class="tech">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt"
          viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
          <metadata>
            Created by potrace 1.11, written by Peter Selinger 2001-2013
          </metadata>
          <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
            <path
              d="M2310 5109 c-502 -55 -974 -249 -1355 -556 -129 -104 -340 -321 -433 -445 -265 -354 -434 -758 -498 -1193 -22 -147 -29 -428 -15 -575 42 -433 180 -833 405 -1174 414 -629 1047 -1032 1791 -1142 147 -22 428 -29 575 -15 433 42 833 180 1174 405 629 414 1032 1047 1142 1791 22 147 29 428 15 575 -51 524 -238 988 -558 1385 -104 129 -321 340 -445 433 -354 265 -755 432 -1193 498 -121 18 -487 26 -605 13z m909 -2348 c347 -607 631 -1105 631 -1107 0 -2 -569 -4 -1265 -4 -696 0 -1265 2 -1265 5 0 8 1263 2216 1266 2212 1 -1 287 -499 633 -1106z" />
          </g>
        </svg> Vercel
      </span>
    </span>
  </div>
  <!-- 
  <div class="features">
    <div class="feature">
      <p>Fine tune map generation parameters to create realistic-looking maps to simulate with</p>

      <img src="../../../assets/images/app-example.svg" alt="Project preview">
    </div>

    <div class="feature">
      <p>Add, remove and edit clients, cars and streets and watch they interact in real-time</p>

      <img src="../../../assets/images/app-example.svg" alt="Project preview">
    </div>

    <div class="feature">
      <p>Pick and visualize clients' routes on the go. You decide whether to optimize the route or pick a specific car!
      </p>

      <img src="../../../assets/images/app-example.svg" alt="Project preview">
    </div>

    <div class="feature">
      <p>Customize the app's theme by picking different color and layout schemes
      </p>

      <img src="../../../assets/images/app-example.svg" alt="Project preview">
    </div>
  </div> -->
</div>