<div class="content">
  <!-- Title -->
  <h1>Cabber</h1>

  <!-- Links -->
  <span class="links">
    <fa-icon [icon]="['fab', 'github']" data-help="Go to GitHub page"></fa-icon>
    <fa-icon [icon]="['fas', 'location-arrow']" data-help="Go to deployment"></fa-icon>
  </span>

  <!-- Subtitle -->
  <h2>A taxi app simulation</h2>
</div>


<!-- Summary -->
<div class="diagonal-slice">
  <div class="side-by-side">
    <p>A taxi app simulation where you can create maps, cars and clients, assign routes for the clients' destinations,
      and watch it all unfold in real-time.</p>

    <img src="../../../assets/images/app-example.svg" alt="Project preview">
  </div>
</div>