// === LOCAL IMPORTS

@import "./styles/css-reset.scss";
@import "./styles/variables.scss";

// === REMOTE IMPORTS

// Fonts

// Dongle
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

// Lilita One
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

// === GLOBAL STYLE

//=== Global style

:root {
  font-size: 18px;
}

button,
a,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

// Use flexbox always
div,
main,
section,
header,
footer,
form,
button,
p,
span,
label {
  display: flex;
  align-items: flex-start;
}

input::placeholder,
textarea::placeholder {
  color: $gray;
}

h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

body {
  font-family: "Dongle", Helvetica, Arial, sans-serif;

  font-size: 1.5rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  min-height: 100vh;
}

fa-icon {
  // Gets rid of empty whitespace below all icons
  display: flex;
}
